@font-face {
    font-family: 'edo-font';
    src: url('http://127.0.0.1:5500/assets/edo-webfont.woff2') format('woff2'), url('assets/edo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}